body{
    padding: 0;
    margin: 0;
    font-family: Roboto ;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 170px;
    background-color: #1F2937;
    align-items: center;
    
}
.links{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 10px;
}
.links a {
    text-decoration: none;
    font-weight: 300;
}
.logo,
.links a {
    color: #f9faf8;
}
.logo{
    font-weight: bold;
    font-size: 24px;

}
.hero{
    display: flex;
    background-color: #1F2937;
    padding: 100px 170px;
    align-items: center
}
.hero-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    gap: 10px;
}
h1{
    color: #f9faf8;
    font-weight: 900;
    font-size: 48px;
    margin:  0;
}
.hero-left p{
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}

.hero-right {
    width: 50%;
}
.placeholder{
    width: 500px;
    height: 300px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.hero-left button{
    height: 30px;
    width: 100px;
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 5px;
    font-weight: bold;
    border: 0;
    
}
.information .heading h2{
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
    text-align: center;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:150px;
}
.card .box{
    border: 4px #3882f6 solid;
    border-radius: 20px;
    height: 150px;
    width: 150px;
    
}
.cards{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.text{
    text-align: center;
    color: rgb(197, 193, 193);
}
.information{
    margin-bottom: 100px;
}
.quote{
    background-color: #e5e7eb;
    padding: 100px 0;
}
blockquote{
    text-align: left;
    width: 800px;
    font-style: italic;
    margin: auto;
    color: #1F2937;
    font-weight: 300;
    font-size: 36px;
}
cite{
    display: block;
    margin: auto;
    width: 800px;
    font-style: normal;
    font-weight: bold;
    text-align: right;
    font-size: 24px;
}
.cta{
    display: flex;
    margin: 100px 0;
    justify-content: center;
    align-items: center;
}
.popup{
    display: flex;
    padding: 40px 80px;
    background-color: #3882f6;
    width: 1000px;
    justify-content: space-between;
    border-radius: 10px;
    align-items: center;
}
.popup-left{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.popup-left .dialogue{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.popup-left .sub-dialogue{
    color: rgb(221, 215, 215);
}

.popup-right button{
        height: 30px;
    width: 100px;
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 5px;
    font-weight: 700;
    border: 2px white solid;

}
.footer{
    text-align: center;
    background-color: #1F2937;
    color: #e5e7eb;
    padding: 30px;
}